.nve-icons-logo {
  background-position: center;
  height: 45px;
  width: 45px;
  display: inline-block;
  content: "";
}

.nve-icon-sizing-large {
  width: 44px;
}
.nve-icon-sizing-medium {
  width: 24px;
}
.nve-icon-sizing-small {
  width: 16px;
}

.nve-icon-colors-white {
  stroke: white;
}
